#letter-holder{
  display: block;
  border: red 5px solid;
  width: 750px;
  height: 950px;
}

.abc {
  margin-left: 5px;
  margin-top: 5px;
  width: 140px;
  height: 150px;
  /* color: darkblue; */
  font-size: 50px;
  /* background-color: aqua; */
}