* {
  margin: 0;
  padding: 0;
}

#startButton {
  margin: 0;
  position: absolute;
  /* to get the button in front of the div use this */
  z-index:1;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: lightpink;
  color: black;
  font-weight: 600;
  padding:  32px;
  font-size: 16px;
}

#instructions {
  position: absolute;
  z-index: 1;
  border: 1px black solid;
  padding: 25px 50px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: lightpink;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

/* //startbutton on click + hover animation */

#initial-color{
  margin: 0;
  background-color: cornflowerblue;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  border: 3px solid black;
  padding: 10px;
}

.allColors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  position: relative;
  z-index: -1;
}

.pads {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 calc(33.33% - 20px);

  /* border-radius: 10px;
  background: white;
  transition: all .07s ease;
  text-shadow: 0 0 .5rem black; */
  margin: 10px;
}

#pad1 {
  background-color: red;
}

#pad2 {
  background-color: orange;
}

#pad3 {
  background-color: red;
}

#pad4 {
  background-color: orange;
}

#pad5 {
  background-color: red;
}

#pad6 {
  background-color: orange;
}

a {
  font-size: 20vw;
}